@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url(../assets/root.css);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}
@font-face {
    font-family: 'Helvetica';
    src: url(../assets/Fonts/Helvetica.ttf);
}
.helv_font{
    font-family: Helvetica;
}
.animation_color{
  
        background: linear-gradient(
            to right,
            #EEDAB3 20%,
            #E4C27D 30%,
            #EEDAB3 70%,
            #E4C27D 80%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 500% auto;
        animation: textShine 5s ease-in-out infinite alternate;
   
}
@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.max_wid{
    max-width: 1000px;
}
.width_55{
    width: 55px !important;
    height: 55px !important;
}
.w-948{
    max-width: 948px !important;
}
.image {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: black;
    /* background-image: url(./accets/images/image\ 14.png); */
    background-repeat: no-repeat;
    object-fit: cover;
     
} 

.z_40{
    z-index: 70 !important;
}

.d_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
.max-w-1140{
    max-width: 1140px;
} 
.bg_color{
    background-image: url(../assets/images/Hero.png);
    background-position: center;
/* object-fit: cover; */
background-size: cover;
background-repeat: no-repeat;

}
.bg_image_6{
    background-image: url(./images/Prize.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bounce
    {
        animation-name: bounce-2;
        animation-timing-function: ease;
    }
    @keyframes bounce-2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-100px); }
        100% { transform: translateY(0); }
    }
.first_box{
    align-self: center;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        /* background-color: #F44336; */
        /* height: 200px; */
        margin: 0 auto 0 auto;
        transform-origin: bottom;
        /* width: 200px; */
}
.bg_img_2{
    background-image: url(./images/FAQ.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_img{
       background-image: url(./images/Services.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_image_services{
    background-image: url(./images/Services.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_image{
    background-image: url(./images/bgimage.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.group_bg{
    background-image: url(./images/frame4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_image_3{
    background-image: url(./images/zeropointtwo.svg);
     background-position: center;
    background-size: cover;
    height: 234px;
width: 364px;
    background-repeat: no-repeat;
    /* width: 100%; */
}
.bg_image_section{
    background-image: url(./images/Topic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_image_4{
    background-image: url(./images/number_two.svg);
     background-position: center;
    background-size: cover;
    height: 234px;
    width: 364px;
    background-repeat: no-repeat;
    /* width: 100%; */
}

.bg_image_5{
    background-image: url(./images/three.svg);
     background-position: center;
    background-size: cover;
    height: 234px;
width: 364px;
    background-repeat: no-repeat;
    /* width: 100%; */
}

.bg-image_2{
    background-image: url(../assets/images/Footer.png);
    background-position: center;
/* object-fit: cover; */
background-size: cover;
background-repeat: no-repeat;
} 
.about_us{
    color: #B1AFAC;
}
.about_us:hover{
    color: var(--home);
}
.gap_36{
    gap: 36px;
}
.pt-30{
    padding-top: 30px;
    padding-bottom: 30px;
}

.under_line {
    position: relative;
}

.under_line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--white);
    transition: all 300ms linear;
    margin-top: 5px;

    /* bottom:-1px; */
    /* height: 3px; */
    
}
 

.under_line:hover::after {
    width: 100%;
}

.under_line_1 {
    position: relative;
}

.under_line_1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #B0AEAC;
    transition: all 300ms linear;
    margin-top: 5px;

    /* bottom:-1px; */
    /* height: 3px; */
    
}
 

.under_line_1:hover::after {
    width: 100%;
}
.submit_btn{
    background: linear-gradient(to right, #F0DFBF 55%, #E5C583 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* padding:  12px 24px 12px 24px; */
}
.btn_1
     {
        /* background: -webkit-linear-gradient(#F4EAD8, #E0B764);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border: 1px solid transparent !important;
        border-bottom: 1px solid #E0B764 !important; */
        border-radius: 2px !important;
        padding: 12px 24px;
        /* transition: all 300ms linear; */
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        background: white;
        border-bottom: 1px solid transparent; 
        background-image: linear-gradient(to right, #E8CA8E, #E0B764);  
        background-position: 0 100%;  
        background-size: 100% 1px; 
        background-repeat: no-repeat; 
        transition: all 300ms linear !important; 
    }
    .btn_1:hover{
        box-shadow: 0px 0px 20px -4px #000000;
        border-radius: 10% !important;
        border-bottom: 1px solid transparent; /* Set the initial border to be transparent */
        background-image: linear-gradient(to right, #fff, #FFF); /* Adjust colors as needed */
        background-position: 0 100%; /* Set the gradient to start from the bottom */
        background-size: 100% 1px; /* Set the size of the gradient to cover the entire width and 1px height */
        background-repeat: no-repeat; 
        background: linear-gradient(#100B00,#060400);
        /* transition: all 300ms linear; */
    }
   
    
 .btn_2{
    border-radius: 2px !important;
    padding: 12px 24px;
    transition: all 400ms linear;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background: #060400;
    border-bottom: 1px solid transparent; /* Set the initial border to be transparent */
    background-image: linear-gradient(to right, #E8CA8E, #E0B764); /* Adjust colors as needed */
    background-position: 0 100%; /* Set the gradient to start from the bottom */
    background-size: 100% 1px; /* Set the size of the gradient to cover the entire width and 1px height */
    background-repeat: no-repeat; /* Ensure that the gradient is not repeated */
    
 }  
 .btn_2:hover{
    box-shadow: 0px 0px 20px 0px #fff;
    border-radius: 10% !important;
    border-bottom: 1px solid transparent; /* Set the initial border to be transparent */
    background-image: linear-gradient(to right,#060400 ,#060400); /* Adjust colors as needed */
    background-position: 0 100%; /* Set the gradient to start from the bottom */
    background-size: 100% 1px; /* Set the size of the gradient to cover the entire width and 1px height */
    background-repeat: no-repeat; 
    /* background:  linear-gradient(to right,#B1AFAD , #FFF); */
    /* border-left: 1px solid transparent; */
 }
 .check_out_btn{
    
    padding:  12px 24px 12px 24px;
    border-radius: 2px;
    background: linear-gradient(#020200, #070400);
    border: 0;
    /* border-bottom: 1px solid ; */

    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn,#E7C889, #E1B968);
    border-image-slice: 1;
    width:100%;
    max-width: 264px;
    transition: all 700ms linear;
    
 
 }
 .next-pos{
    width: 40px;
    height: 40px;
    border-radius: 100px;
   background: #FFFFFF;
   border: 2px solid #E6C584;

 


 }
 .prev-pos:hover{
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
 }
 .prev-pos{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background:  white;
transition: all 300ms linear;
border: 2px solid #E6C584;

 }
 .next-pos:hover{
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
 
 }
.next-pos:hover svg path{
    fill:#FFFFFF;
}
.prev-pos:hover svg path{
    fill: white ;
}
.prev_pos{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
  
   
}
.next_pos{
    position: absolute;
    top: 50%;
    right: 0;
transform: translateY(-50%);

}








 .publish_ed{
    max-width: 236px !important;
    width: 100%;
 }
 .publish_ed_2{
    max-width: 255px;
    width: 100%;
 }

 .check_out_btn:hover{
    border: 1px solid #E0B764 !important;
    border-bottom: 1px solid #E0B764 !important;
    border-radius: 70px;
  
 }
 .pb-120{
    padding-bottom: 120px;
 }
 .btn_7{
    padding:  12px 24px 12px 24px;
    border-radius: 2px;
    /* background: linear-gradient(#020200, #070400); */
    background: white;
    border: 0;
    /* border-bottom: 1px solid ; */

    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn,#E7C889, #E1B968);
    border-image-slice: 1;
    width:100%;
    max-width: 198px;
 }
.gap-15{
    gap: 15px;
}
.heading-1{
    /* background: linear-gradient(to right, #EDD8AF 55%, #E6C687 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    max-width: 519px;

}
.para-1{
    max-width: 436px;
    color: #B0AEAC;
}
.pt-139{
    padding-top: 139px;
}
.pt-16{
    padding-top: 16px;
}
.pb-254{
    padding-bottom: 254px;
}
.pt-32{
    padding-top: 32px;
}
.pt_4{
    padding-top: 4px;
}
/* section2 *//* section2 *//* section2 *//* section2 *//* section2 *//* section2 *//* section2 */
.box_1{
    max-width: 1140px;
    border-radius: 16px;
    border: 1px;
    border-radius: 16px ;
padding: 44px 51px 38px 51px;
background: white; 
box-shadow: 0px 4px 20px 0px #B6B6B640;
transition: all 400ms linear;}
/* .btn_1 {
    padding: 12px 24px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    border-image: var(--gold-gradient);
    border-image-slice: 1;
    background: var(--gold-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  .btn_1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: var(--gold-gradient);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
  } */
  

.box_1:hover{
    box-shadow: 0px 15px 30px 0px #B6B6B640 !important;
} 
.border-gradient{
    border: 1px solid transparent;
    background-clip: padding-box;

}
.border-gradient::after {
    position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    background: linear-gradient(#EEDDBF52, #C78A1152);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
.gap_16{
    gap: 16px;
}
.pt-48{
    padding-top: 48px;
}
.btn_3{
    background: -webkit-linear-gradient(#F4EAD8, #E0B764);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid transparent !important;
    border-bottom: 1px solid #E0B764 !important;
    border-radius: 2px;
    padding: 12px 24px;
}
.btn_3:hover{
    border: 1px solid #E0B764 !important;
    border-bottom: 1px solid #E0B764 !important;
    border-radius: 70px;
}
.btn_4{
    padding: 12px 58px 12px 24px;
    border: 0;
    max-width: 198px;
    background: var(--white);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn,#E7C889, #E1B968);
    border-image-slice: 1;
    border-radius: 2px;
}
.btn_6{
    padding: 12px 24px 12px 16px;
    border: 0;
    max-width: 198px;
    background: var(--white);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn,#E7C889, #E1B968);
    border-image-slice: 1;
    border-radius: 2px;
transition: all 400ms linear;
    
}
.btn_6:hover{
background: #000;    
border: 1px solid #E0B764 !important;
border-bottom: 1px solid #E0B764 !important;
border-radius: 70px;
}
.btn_5{
    padding: 12px 16px 12px 16px;
    border: 0;
    max-width: 331px;
    background: var(--white);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn,#E7C889, #E1B968);
    border-image-slice: 1;
    border-radius: 2px;
    transition: all 400ms linear;
    
}
.btn_5:hover{
  
background: #000;    
border: 1px solid #E0B764 !important;
border-bottom: 1px solid #E0B764 !important;
border-radius: 70px;
}
.btn_8{
    padding: 12px 24px;
    border: 0;
    max-width: 177px;
    background: var(--white);
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn,#E7C889, #E1B968);
    border-image-slice: 1;
    border-radius: 2px;
}
.submit_btn_2{
    background: linear-gradient(to right, #F0DFBF 55%, #E5C583 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}  
.mb-130{
    margin-bottom: 130px;
}
.mt-12{
    margin-top: 12px;
}
.pb-130{
    padding-bottom: 130px;
}
.absolute_2{
    position: absolute;
    right: 0%;
    bottom: 0%;
}
.donate_btn{
    background: #EFDDBA;
background: linear-gradient(to right, #EFDDBA 0%, #E5C481 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.absolute_1{
    position: absolute;
    top: 89%;
    left: 9%;
}
.pt-334{
    padding-top: 334px;
}
.start_writ{
    max-width: 524px;
}
.para-2{
    max-width: 536px;
}
/* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */
.para_3{
    max-width: 405px;
    color: #B3B1AD;
}
.pt-84{
    padding-top: 84px;
}
.pt-15{
padding-top: 15px;
}
.subscribe_1{
    background: #EFDDBA;
background: linear-gradient(to right, #EFDDBA 0%, #E4C17B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
max-width: 324px;
}
.civiliz{
    background: #EFDDBA;
    background: linear-gradient(to right, #EFDDBA 0%, #E4C17B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     
}
.input_1{
    max-width: 520px;
    border-radius: 4px;
    border: 1px solid #31302B;
    padding: 17px 0px 17px 20px;
    transition: all 400ms linear;
}
.input_1:hover{
    box-shadow: 0px 0px 5px 0px #FFF;
}
.mt-22{
    margin-top: 22px;
}
.pt-16{padding-top: 16px;}
.pt-10{
    padding-top: 10px;
}
.pt-50{
    padding-top: 50px;
}
.circle_1{
    height: 32px;
    width: 32px;
    border-radius: 99px;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
transition: all 400ms linear;
}
.gap-16{
    gap: 16px;
}
.circle_1:hover{
    transform: translateY(-10px);
}
.trans_ition{
    transition: all 300ms linear;
}
.trans_ition:hover{
    transform: translateY(-10px);
  
}
.pb-69{
    padding-bottom: 69px;
}
.last_line{
    max-width: 1440px;
    border: 0.5px solid #53504C;
}

.pt-14-10{
    padding-top: 14.3px;
    padding-bottom: 10.7px;
}
/* section *//* section *//* section *//* section *//* section *//* section *//* section *//* section */
.box_2{
    max-width: 1000px;
    border-radius: 16px;
    border: 1px;
   
    border: 1px solid;
padding: 17px 28px 17px 28px;
    border-image-source: linear-gradient(146.26deg, #EEDDBF52 6.74%, #C78A1152 110.03%);
    background-color: #fff;
    transition: all 300ms linear;
}
.box_2:hover{
    box-shadow: 0px 0px 20px 4px #D8D8D840;
}
.para_4{
    max-width: 944px;
}

.border-gradient_2{
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 16px !important;


}
.border_linear_gradiant{
   
        position: relative;
      }
      .border_linear_gradiant::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 24px; 
        padding: 1px; 
        background:linear-gradient(45deg,#EEDDBF52,#C78A1152); 
        -webkit-mask: 
           linear-gradient(#fff 0 0) content-box, 
           linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude; 
      }

      
.three_box{
   
    position: relative;
  }
  .three_box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px; 
    padding: 0.5px; 
    background:linear-gradient(45deg,#EEDDBF52,#C78A1152); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
.three_box{
    max-width: 364px;
    border-radius: 24px;
    padding: 24px;
    background: #0B0803;
    transition: all 300ms linear;
   height: 100%;
   height: 276px;
   border: 0.5px solid transparent;
   
   
} 
.three_box:hover.three_box::before{
    background:linear-gradient(45deg,transparent, transparent); 
}
.three_box:hover{
    background: #312510;
    border: 0.5px solid  #312510;
box-shadow: 0px 0px 10px 0px #FFF;
} 
.border-gradient_2::after {
    position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    background: linear-gradient(#EEDDBF52, #C78A1152);
    content: '';
    z-index: -1;
    border-radius: 16px;
    border: 1px;
} 

.border-gradient_3{
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 8px !important;


}
.border-gradient_3::after {
    position: absolute;
    top: -1px; bottom: -1px;
    left: -1px; right: -1px;
    background: linear-gradient(#EEDDBF52, #C78A1152);
    content: '';
    z-index: -1;
    border-radius: 8px;
    border: 1px;
} 
.mt-130{
    margin-top: 130px;
}
.slick_box{
    max-width: 1000px;
    border-radius: 24px;
    border: 1px;
    padding: 40px;
    background-color: #fff;
    
}
 
.prize_1{
    max-width: 524px;

}
.the_story{
    max-width: 274px;
}
.para_5{
    max-width: 551px;
}
.will_durant{
    max-width: 244px;
}
.mt-48{
    margin-top: 48px;
}
.small_box{
    min-width: 337px;
    border-radius:  5.66px;
    box-shadow: 0px 0px 14.139328956604004px 2.8278656005859375px #D8D8D840;
padding: 18px;
width: 100%;
}
.max_width{
    max-width: 551px;
    width: 100%;
    
}
.gap-32{
    gap: 32px;
}
.mt-20{
    margin-top: 20px;
}
.pt-20{
    padding-top: 20px;
}
.slick-next:before{
    font-family: slick;
    font-size: 53px;
    line-height: 1;
    opacity: .75;
    background: #EFDDBA;
    background: linear-gradient(to right, #EFDDBA 0%, #E5C481 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 20;
}
.slick-next{
    right: -31px;
}

 .slick-prev:before {
    font-family: slick;
    font-size: 53px;
    line-height: 1;
    opacity: .75;
    background: #EFDDBA;
    background: linear-gradient(to right, #EFDDBA 0%, #E5C481 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 20;
}
.slick-prev {
    left: -64px;
}
 
.the_julian{
    max-width: 380px;
}
.para_6{
    max-width: 575px;
}
.absolute_3{
    position: absolute;
    top: 0%;
    left: 0%;
}
.apply_in{
    max-width: 537px;
    color: #090909;
}
.lorem_ip{
    max-width: 709px;
}
.circle_people{
    width: 61px;
    padding: 19px 19px 18px 19px;
    height: 61px;
    border-radius: 50%;
    background: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);

}
.online_app{
    max-width: 695px;
    border-radius: 2px;
    border-bottom: 2px solid #0000003D;
    padding: 20px 24px;
}
.lorem_ipsum{
    max-width: 566px;
}
.gap-20{
    gap: 20px;
}
.mt-26{
    margin-top: 26px;
}
.apply_by{
    background: #EDD8AE;
    background: linear-gradient(to right, #EDD8AE 0%, #E5C27D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gap-10{
    gap: 10px;
   }
.absolute_4{
    position: absolute;
    bottom: 155px;
    right: 4px;
    z-index: -10;
}
.elips_absolute{
    position: absolute;
    top: -53%;
    left: 0;
    z-index: -10;
}
.absolute_5{
    position: absolute;
    bottom: -127px;
    right: 0;
    z-index: -10;
}
.the_corona{
    max-width: 422px;
 
}
.to_bridge{
    max-width: 662px;
    color: #B5B2AD;
}
.pt-100{
    padding-top: 100px;
}
.small_box_1{
    max-width: 485px;
    border-radius: 8px;
    /* border: 1px solid; */
background-color: #fff;
border-image-source: linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%);
 transition: all 300ms linear;
padding: 18px 32px;
cursor: pointer;

}
.small_box_1:hover{
    box-shadow: 0px 0px 20px 10px #D8D8D840 !important;
    border: 1px solid transparent;
    border-radius: 8px !important;
  
    /* transition: all 500ms linear; */
   
    background: white;
    /* border-left: 1px solid transparent;  */
    background-image: linear-gradient(to right, #F3E6D0, #E9CE97);  
    background-position: -1px 100%;  
    background-size: 2px 100%; 
    background-repeat: no-repeat;  
}
.world_class{
    max-width: 212px;
}
.pt-8{
    padding-top: 8px;
}
.para_7{
    max-width: 421px;
}
.mt-16{
    margin-top: 16px;
}
.gap-12{
    gap: 12px;
}
.gap-82{
    gap: 82px;
}
.para_13{
    max-width: 573px;
}
.pt-28{
    padding-top: 28px;
}
.absolute_6{
    position: absolute;
    bottom: 0;
    right: 0;
}
.pb-90{
    padding-bottom: 90px;
}
.mt-44{
    margin-top: 44px;
}
.pt-91{
    padding-top: 91px;
}
.absolute_7{
    position: absolute;
    top: 0;
    left: 0;
}   
.pt-24{
    padding-top: 24px;
}
.para_8{
    max-width: 316px;
}
.gap-24{
    gap: 24px;
}
.pt-44{
    padding-top: 44px;
}
.pt-32{
    padding-top: 32px;
}
.pb-100{
    padding-bottom: 100px;
}
.para_9{
    max-width: 534px; 
}
.pt-101{
    padding-top: 101px;
}
.mt-32{
    margin-top: 32px;
}
.pt_4{
    padding-top: 4px;
}
.pb-38{
    padding-bottom: 38px;
}
.pb-86{
    padding-bottom: 86px;
}
.absolute_8{
    position: absolute;
    top: -13%;
    right: 0;
    z-index: -10;
}
.accordian_1 {
    height: 60px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    border-radius: 5px;
    padding: 18px 24px;
}
.accordian_1:hover{
box-shadow: 0px  0px 5px 0px black;
}

.accordion-para {
    padding-top: 11px;
}

.accordian_1.active{
    height: unset;
}


.accordian_1.active{
    border: 1px solid transparent;
    border-radius: 16px;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    border-radius: 5px;
}

.accordian_1.active svg{
    transform: rotate(65deg);
}
.mt-24-24{
    margin-top: 24px;
    margin-bottom: 24px;
}
.pt-64{
    padding-top: 64px;
}
.para_10{
    max-width: 730px;
}
.pt-150{
    padding-top: 150px;
} 
.ten_thou{
    background: #E9D3A9;
background: linear-gradient(to right, #E9D3A9 0%, #D3A447 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.second_pr{
    color: #D7C8AE;
}
.mt_130{
    margin-top: 130px;
    margin-bottom: 130px;
}
.why_history{
    background: #EFDCB9;
background: linear-gradient(to right, #EFDCB9 0%, #E4C17B 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/* max-width: 281px; */
padding-top: 125px;
}
.para_11{
    color: #B4B4B4;
    padding-top: 16px;
}
.box_8{
    padding: 24px;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
 width: 338px;
/* width: 100%; */
border-style: solid;

border-color: #FFFFFF52;


}
.tab-2:hover{
   
     
        background: transparent;
        /* border-right: 6px solid transparent;  */
        background-image: linear-gradient(to right, #E8CA8E, #E0B764);  
        background-position:  100% 0;  
        background-size: 8px 100%; 
        background-repeat: no-repeat;  
}
.box_7{
    padding: 24px;
    border-radius: 2px;
    border-width: 0px 0px 1px 0px;
    width: 338px;
    /* width: 100%; */
border-style: solid;

border-color: #FFFFFF52;


}
.poli_tical{
    color: #B1AFAD !important;
    transition: all 300ms linear;
}
.tab-2:hover .poli_tical{
    background: #EFDCB9;
    background: linear-gradient(to right, #EFDCB9 0%, #E4C17B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tab-2:hover{
   
   /* transition:  all 700ms linear; */
   background: transparent;
   /* border-right: 6px solid transparent;  */
   background-image: linear-gradient(to right, #E8CA8E, #E0B764);  
   background-position:  100% 0;  
   background-size: 8px 100%; 
   background-repeat: no-repeat;   
   
}
.tab-2:hover svg path{
    fill: #E0B764;
  
} 
.border_rigth{
    border-right: 1px solid #5C5C5C;
}
.pt-65{
    padding-top: 65px;
}
 
.mt-65{
    margin-top: 65px;
}
.origins_of{
    background: #EDD7AC;
    background: linear-gradient(to right, #EDD7AC 0%, #E7C88A 27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.para_12{
    max-width: 762px;
    color: #B2AFAD;
}
.padding_29{
    padding-top: 29px;
    padding-left: 40px;
}
.pb-156{
    padding-bottom: 156px;
}
.cursor{
    cursor: pointer;}

.amount_of{
    background: #EDD7AC;
    background: linear-gradient(to right, #EDD7AC 0%, #E7C88A 27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.we_given{
    max-width: 338px;
}
.pro_bono{
    background: #EDD7AC;
    background: linear-gradient(to right, #EDD7AC 0%, #E7C88A 27%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.get_exp{
    color: #B3B0AC;
    max-width: 347px;
}
.pt-130{
    padding-top: 130px;
}
.pb-64{
    padding-bottom: 64px;
}
.tracking-item {
    /* border-left:1px solid #F5EAD8; */
    position:relative;
    padding:0 0 47px 53px;
    margin-left:25px;
   }
.left_line_time{
    top: 0;
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    /* width: 1px; */
    /* height: 554px; */
    height: 100%;
} 
.border_reduce .left_line_time {
   height: 0 !important;
}

.border_reduce .left_line_time_2 {
    height: 0 !important;
 }
 .tracking-date{
    margin-bottom: 12px;
 }

 .tracking-content{
    border-bottom: 1px solid #D7C8AE52;
 }

   .tracking-item .tracking-content span {
    display:block;
   }
   .tracking-item .tracking-icon {
    position:absolute;
    left:-20px;
   }
.tracking-line{
    position: absolute;
    left: 0;
}




.tracking-item_2 {
    /* border-left:1px solid #F5EAD8; */
    position:relative;
    padding:0 0 47px 53px;
    margin-left:25px;
   }
.left_line_time_2{
    top: 0;
    left: 0;
    border: 1px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(146.26deg, rgba(238, 221, 191, 0.32) 6.74%, rgba(199, 138, 17, 0.32) 110.03%) border-box;
    /* width: 1px; */
    /* height: 554px; */
    height: 100%;
} 
.border_reduce_2 .left_line_time_2 {
   height: 0 !important;
}
 .tracking-date_2{
    margin-bottom: 12px;
 }
 

   .tracking-item_2 .tracking-content_2 span {
    display:block;
   }
   .tracking-item_2 .tracking-icon_2 {
    position:absolute;
    left:-20px;
   }
.tracking-line_2{
    position: absolute;
    left: 0;
}
.pt-120{
    padding-top: 120px;
} 
.open_access{
    max-width: 236px;
    width: 100%;
}
.Publish_quart{
    max-width: 255px;
    width: 100%;
}
.transition_1{
    transform: translateY(-85px);
    /* transform: translateX(-100px); */
}
.color_1{
    color: #B2AEAA;
}
.text-_color{
    color: #B3B0AC;
}
.pl-10{
    padding-left: 38px;     
}
   .pl-20{
    padding-left: 20px;
   }
   .pt_120{
    padding-top: 120px;
   }
   .mt-117{
    margin-top: 117px;
   }
.position_absolute_1{
    position: absolute;
    top: -10%;
    left: 0;
}
.position_absolute_2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

}
.position_absolute_3{
    position: absolute;
    top: 81%;
    left: 2%;
    z-index: -10;
}
.absolute_9{
    position: absolute;
    bottom: 0;
    right: 0;
}
.absolute_10{
    position: absolute;
    top: -109px;
    left: -40px;
}
.absolute_11{
    position: absolute;
    right: 0px;
    bottom: 290px;
  
}
.absolute_12{
    position: absolute;
    top: 0;
right: 0;   
z-index: 5;
}
.z_10{
    z-index: 10 !important;
}
.z_20{
    z-index: 20;
}
.absolute_13{
    position: absolute;
    bottom: 82px;
    left: 169px;
    z-index: 5;
}
.z_30{
    z-index: 30;
}
.over_flow_x{
    overflow-x: scroll;
    
}
.gap_24{
    gap: 24px;
} 
.light_white{
    color: #B1AEAC;
}
.text_color{
    color: #B5B1AC;
}
.section1_elips{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}
 



@media(min-width:992px) {
    .tracking-item {
     margin-left:120px;
    }
    .tracking-item .tracking-date {
     position:absolute;
     left:-12%;
     text-align:right
    }
    .tracking-date{
        margin-bottom: 0;
    }
    .tracking-item .tracking-date span {
     display:block
    }
    .tracking-item .tracking-content {
     padding:0;
     background-color:transparent
    }
    .tracking-item_2 {
        margin-left:190px;
       }
       .tracking-item_2 .tracking-date_2 {
        position:absolute;
        left:-20%;
        text-align:right
       }
       .tracking-date_2{
           margin-bottom: 0;
       }
       .tracking-item_2 .tracking-date_2 span {
        display:block
       }
       .tracking-item_2 .tracking-content_2 {
        padding:0;
        background-color:transparent
       }
    }








@media (max-width:1200px) {
    .mobile_view {
        position: fixed;
        background: white;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms linear;
        background-color: #060400;
        z-index: 4;
        

    }

    .menu {
        z-index: 60;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0%;
    }
}
@media (max-width:1200px) {
.flex-col{
    flex-direction: column;
}    
.gap_36{
    gap: 12px;
}
}
@media (min-width:1200px) {

    .gap-141{
        gap: 141px;
    }    
}
@media (max-width:1200px) {

    .gap-141{
        gap: 5px;
    }   
    .mt-117{
        margin-top: 0px;
    } 
}
@media (max-width:768px) {
.pt-139{
    padding-top: 40px;
}
.over_flow{
    overflow-x: scroll;
    flex-direction: row;
    display: flex;
    /* gap: 80px; */
}

.tracking-item_2 {
    /* border-left:1px solid #F5EAD8; */
    position:relative;
    padding:0 0 19px 53px;
    margin-left:25px;
   }
   
.tracking-item {
    /* border-left:1px solid #F5EAD8; */
    position:relative;
    padding:0 0 19px 53px;
    margin-left:25px;
   }
   .box_2{
    padding-left: 14px;
    padding-right: 14px;
   }
.mt-26{
    margin-top: 0;
}
.para_11{
    padding-top: 0;
}
.mt-32{
    margin-top: 20px;
}
.pt-32{
    padding-top: 16px;
}
.pt-48{
    padding-top: 28px;
}
.pt-100{
    padding-top: 50px;
}
.gap_10{
    gap: 20px;
}
.padding_29{
    padding-left: 15px;
}
.border_top_tab{
    border-top: 1px solid #585858;
    border-left: 1px solid #585858;
}
/* .mt_20{
    margin-top: 20px;
} */
.pt-64{
    padding-top: 24px;
}
.pb-254{
    padding-bottom: 69px;
}    
.pt-334{
    padding-top: 170px;
}
.pt-91{
    padding-top: 31px;
}
.pb-90{
    padding-bottom: 30px;
}
.mt-130{
    margin-top: 35px;
}
.mb-130{
    margin-bottom: 35px;
}
.mt-48{
    margin-top: 10px;
}
.pb-86{
    padding-bottom: 30px;
}
.pb-38{
    padding-bottom: 20px;
}
.pt-101{
    padding-top: 10px;
}

.pt-150{
    padding-top: 40px;
}
 
.pt-120{
    padding-top: 40px;
}
.pb-120{
    padding-bottom: 60px;
} 
.pb-156{
    padding-bottom: 60px;
}
.why_history{
    padding-top: 35px;
}
.pt_120{
    padding-top: 0;
}
.mt-65{
margin-top: 35px;
}
.box_1{
    /* max-width: 1140px; */
    /* border-radius: 16px; */
    /* border: 1px; */
    /* border-radius: 16px ; */
padding: 44px 35px 38px 35px;
/* background: white;  */
/* box-shadow: 0px 4px 20px 0px #B6B6B640; */

} 
.border_top{
    flex-wrap: wrap;
}
.pt-130{
    padding-top: 71px;
}
.pb-64{
    padding-bottom: 30px;
}
 .pb-130{
    padding-bottom: 55px;
 }
 .pb-100{
    padding-bottom: 30px;
 }
   
    .small_box{
        min-width: 230px;
        padding: 30px;
    }
}
@media (max-width:992px) {
 .pt_10{
    padding-top: 10px;
 }
 .pt-pb-10{
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .j-c-c{
    justify-content: center;
    align-items: center;
    display: flex;
 } 
 .pt_20{
    padding-top: 20px;
 }
 .pt-84{
    padding-top: 50px;
 }
 .pb_20{
    padding-bottom: 20px;
 }
 .pb-69{
    padding-bottom: 0;
 }
 .pt-50{
    padding-top: 22px;
 }
 .pt-44{
    padding-top: 20px;
 }
   
.mt_130{
    margin-top: 25px;
    margin-bottom: 0px;
}
}
@media (max-width:576px) {
.online_app{
    padding: 20px 0px; 
}  
 
 
}
@media (width:992px) {
    
.pt-117{
    padding-top: 117px;
}
}
@media (min-width:992px) {
 .pt_50{
    padding-top: 50px;
 }   
 .pt_48{
    padding-top: 48px;
 } 
}
@media (min-width:768px) {
    .border_top{
        border-top: 1px solid #565656;
    }
}